.bn10 {filter: brightness(10%); -webkit-filter: brightness(10%);}
.bn20 {filter: brightness(20%); -webkit-filter: brightness(20%);}
.bn30 {filter: brightness(30%); -webkit-filter: brightness(30%);}
.bn40 {filter: brightness(40%); -webkit-filter: brightness(40%);}
.bn50 {filter: brightness(50%); -webkit-filter: brightness(50%);}
.bn60 {filter: brightness(60%); -webkit-filter: brightness(60%);}
.bn70 {filter: brightness(70%); -webkit-filter: brightness(70%);}
.bn80 {filter: brightness(80%); -webkit-filter: brightness(80%);}
.bn90 {filter: brightness(90%); -webkit-filter: brightness(90%);}
.bn00 {filter: brightness(100%); -webkit-filter: brightness(100%);}